/* Navbar Styling */
/* Navbar */
.navbar {
  background-color: #000000;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-size: 2rem;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #5ddb3f;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #5ddb3f;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: 0.25rem;
  padding-right: 1rem;
  font-weight: bold;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #5ddb3f;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #5ddb3f;
  background-color: #000000;
}
.navbar .navbar-toggle {
  border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #5ddb3f;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #5ddb3f;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #5ddb3f;
    background-color: #000000;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #5ddb3f;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #5ddb3f;
    background-color: #000000;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #5ddb3f;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #5ddb3f;
    background-color: #000000;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #5ddb3f;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #5ddb3f;
    background-color: #000000;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #5ddb3f;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #5ddb3f;
  background-color: #000000;
}

/* Footer Styling */
footer {
  margin-top: 6rem;
  background-color: #000;
}

.footer-nav-bottom-region-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.75rem;
}

.footer-nav-bottom-region-selector p {
  display: block;
  margin-bottom: 0;
  font-size: 0.75rem;
  color: lightgray;
}

.footer-nav-bottom-region-selector:hover p {
  color: #5ddb3f;
  text-decoration: none;
}

.footer-nav-bottom-region-selector img {
  display: block;
  margin-left: 0.75rem;
  height: 1.5rem;
  width: auto;
}

.footer-nav-bottom-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}

.footer-nav-bottom {
  display: flex;
  flex-direction: row;
}

.footer-nav-bottom-links {
  list-style: none;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-nav-bottom-links li:not(:first-child) {
  margin-left: 1.5rem;
}

.footer-nav-bottom-links li a {
  color: lightgrey;
  font-size: 0.75rem;
  margin: 0;
}

.footer-nav-bottom-copyright {
  color: lightgrey;
  font-size: 0.75rem;
  padding: 0;
  margin-bottom: 0;
}
